{% extends "template.html.twig" %}

{% block title %} Bienvenue {% endblock %}

{% block content %}
<ul>
    {% for oneRamdomSimpleRecipe in ramdomSimpleRecipes %}
        <li><a href ='{{ link }}{{ oneRamdomSimpleRecipe.id_recette }}'>{{ oneRamdomSimpleRecipe.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}